/* !NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !MEDIDAS REM*/
html {
    font-size: 62.5%;
}

/* !ESTILOS GLOBALES*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 20px;
    display: block;
}

button {
    border: none;
}

/* !VARIABLES DE COLORES */
:root {
    --brand-color: #e0d4b3; 
    --black-color: #000;
    --white--color: #fff;
    --devil-gray-color: rgba(0, 0,0, 0.2);
}

/* !DISABLED (INACTIVO)*/
.inactive {
    display: none;
}

/* !BARRA DE NAVEGACION*/
.header {
    width: 100%;
    position: relative;
}

.header h2 {
    font-size: 1.8rem;
    padding: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--devil-gray-color);
    text-align: center;
    font-family: 'Parisienne', sans-serif;
    color: rgb(165, 165, 165);
}

.header-nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-color);
    padding: 0 20px;
}

.header-nav button {
    width: 0;
    padding-right: 20px;
    background-color: transparent;
}

.header-nav p {
    font-size: 2.5rem;
    font-family: 'Parisienne', sans-serif;
    font-weight: bold;
}

.header-nav img {
    border-radius: 30%;
}

/* !MENU DESPLEGABLE*/
.aside-menu {
    height: 100%;
    width: 70%;
    top: 0px;
    background-color: var(--white--color);
    position: absolute;
}

.aside-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aside-menu ul li {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--devil-gray-color);
}

.aside-menu ul li a{
    font-size: 2rem;
    margin-left: 10px;
    font-family: sans-serif;
    color: var(--black-color);
}

.aside-menu ul li:nth-child(1) {
    margin-top: 100px;
}

#close-button {
    margin-top: 20px;
    margin-left: 20px;
}

/* !CONTENIDO PRINCIPAL*/
main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
/* ?IMAGEN CON TEXTO (PRIMERA SECCION)*/
.section-img {
    width: 100%;
    height: 100%;
}

.section-img-background {
    width: 100%;
    height: 250px;
    background-image: url('../img/c-kana-renta-de-vestidos-xv.jpg');
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeIn 3s ease;
}

.section-img-background h2 {
    width: 130px;
    margin-left: 10px;
    padding-top: 80px;
    font-size: 1.6rem;
    color: var(--white--color);
    font-family: 'Parisienne', sans-serif;
}

/* ?NUESTROS SERVICIOS MUJERES (SEGUNDA SECCION)*/
.wowmen-section {
    width: 100%;
    height: 374px;
}

.wowmen-section h2 {
    margin-bottom: 10px;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'The Moon', sans-serif;
    border-bottom: 1px solid var(--devil-gray-color);
}

.wowmen-container {
    width: 100%;
    display: flex;
}

.wowmen-container-card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wowmen-container-card img {
    width: 95%;
    height: 100px;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(5px);
    }
}

.wowmen-container-card p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* ?NUESTROS SERVICIOS HOMBRES (SEGUNDA SECCION)*/
.mens-section {
    width: 100%;
    height: 374px;
}

.mens-section h2 {
    margin-bottom: 10px;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'The Moon', sans-serif;
    border-bottom: 1px solid var(--devil-gray-color);
}

.mens-container {
    width: 100%;
    display: flex;
}

.mens-container-card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mens-container-card img {
    width: 95%;
    height: 100px;
}

.mens-container-card p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ?SECCION DE EVENTOS*/

.events-section {
    width: 100%;
    height: 374px;
}

.events-section h2 {
    margin-bottom: 10px;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'The Moon', sans-serif;
    border-bottom: 1px solid var(--devil-gray-color);
}

.events-container {
    width: 100%;
    display: flex;
}

.events-container-card {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-container-card img {
    width: 95%;
    height: 100px;
}

.events-container-card p {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* ?SECCION DE TESTIMONIOS*/
.testimony-section {
    width: 100%;
    height: 347px;
}

.testimony-text {
    margin-bottom: 10px;
    font-size: 2.3rem;
    text-align: center;
    font-family: 'The Moon', sans-serif;
}

.testimony-container {
    width: 70%;
    margin: 0 auto;
}

.testimony-container h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.testimony-container div {
    display: flex;
    width: 80%;
    margin: 14px;
    justify-content: space-between;
}